:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --red-color: #FB565A;
    --yellow-color: #EFC84A;
    --green-color: #00CA74;
}

.header{
    background-color: var(-gra);
}


.test-title{
    text-align: center;

}